<!DOCTYPE html>
{% extends 'base.html' %}
 {% block title %}文章列表{% endblock%}
 {% block content %}
        <div class="container page-header">
            <h3>{{title}}</h3>
        </div>
        <div class="container body-main">

                 {% for section in section_list %}
                    <p>
                        {{section}}
                    </p>
                    {% endfor %}
                 
        </div>
        <div class="col-xs-2 col-sm-2"></div>
        <div class="col-xs-12 col-sm-12">
        <table class="table table-condensed">
        <thead>
        <tr class="active" style="font-size:10pt">
            <th>文件序号</th>
            <th>文件名</th>
            <th>用户</th>
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
        <tr class="warning" style="font-size:7pt">
           <th>{{file.id}}</th>
            <th><a href='/article/download/{{file.id}}'>下载</a>{{file.file_field.name}}</th>
            <th>{{file.user_id}}</th>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        <div class="container page-header"><a href='/article/upload/{{id}}'><button type='submit' class='btn btn-primary'>上传文件</button></a></div>
        </div>

        <tr>留言</tr>


        <table class="table table-condensed">
        <thead>
        <tr class="success" style="font-size:10pt">
            <th style='width:6%'>序号</th>
            <th style='width:60%'>留言内容</th>
            <th style='width:10%'>时间</th>
            <th style='width:6%'>用户</th>
        </tr>
        </thead>
        <tbody>
        {% for usercomment in usercomments %}
        <tr class="warning" style="font-size:10pt">
           <th>{{usercomment.id}}</th>
            <th>{{usercomment.comment}}</th>
            <th>{{usercomment.publish_date}}</th>
            <th>{{usercomment.user_id}}</th>
        </tr>
        {% endfor %}
        </tbody>
        </table>


<div class='row'>


        <div class="col-xs-8 col-sm-8 ">
            <form action="" method="post" >
                {% csrf_token %}
                <lable>留言：</lable>
                <p>{{formCom.text}}</p>
                <button type='submit' class='btn btn-primary'>提交</button>
            </form>
        
        </div>
</div>
    {%endblock%}